*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

/*---body---*/
body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
}

.header{
    grid-area: header;
}

.navbar{
    background-color: #000000;
    grid-area: navbar;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.grid-contenedor{
    display: grid;
    grid-template:
        "header"  10px
        "navbar"  50px
        "main"    auto
        "footer"  300px;
}

@media (min-width: 600px){
    .grid-contenedor{
        grid-template-rows: 10px 40px auto 150px;
    }
}

@media (min-width: 900px){
    .grid-contenedor{
        grid-template-rows: 10px 60px auto 150px;
    }
}

/*---header---*/

.container-fluid img{
    width: 60px;
    height: auto;
}

header nav div div ul .nav-link {
    color: #a3a7c4 !important;
    font-weight: bold;
}

header nav div div ul .nav-link:hover {
    color: #e6e0fd !important;
    text-shadow: 1px 1px 1px #424874;
}

.navbar-toggler{
    background-color: #ffffff;
}

.dropdown-menu{
    background-color: #817b7b;
}

.dropdown-item{
    color: #eaedff;
    font-weight: bold ;
}

/*---main---*/

.intro{
    background-image: url(../img/imagen-fondo.png);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buscador{
    display: flex;
    justify-content: center;
}

.buscador button{
    font-weight: bold;
    color: #7677a0;
    border: 2px solid white;
}

.buscador button:hover{
    color: #ffffff;
    background-color: #4c4d91;
}

.intro h1{
    font-weight: bold;
    font-size: 50px;
}

@media screen and (max-width:550px){
    .intro h1{
        font-size: 35px;
    }
}

.intro h2{
    font-weight: bold;
    font-size: 40px;
}

@media screen and (max-width:550px){
    .intro h2{
        font-size: 28px;
    }
}

.novedades-container{
    background-color: #6674ec!important;
}

.grid-cartas{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    padding: 10px 5px;
    justify-content: space-around;
}

.grid-cartas > div{
    background-color: #6266a0;
    color: #ffffff;
    border: 5px solid #4b4242;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.grid-cartas img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
}

.grid-cartas img:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.grid-cartas a{
    font-weight: bold;
    font-size: 16px;
    color: #424874;
    background-color: #A6B1E1;
    text-decoration: none;
    padding: 8px;
    border-radius: 40px;
    border: #424874 solid 2px
}

.grid-cartas a:hover{
    transition: 0.7s;
    color: #e6e0fd;
    background-color: #21327e;

}

.novedades-container h2{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width:550px){
    .novedades-container h2{
        font-size: 35px;
    }
}

.card img{
    height: 250px;
    width: auto;
}

/*---footer---*/

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.5rem;
}

@media screen and (max-width:550px){
    .footer{
        display: flex;
        flex-direction: column;
    }
}

.footer img{
    width: 45px;
    margin-bottom: 1rem;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer div svg {
    width: 50px;
    height: 50px;
}

@media screen and (max-width:550px){
    .footer div svg{
        width: 40px;
        height: 40px;
    }
}

.footer p{
    font-size: 14px;
    font-weight: lighter;
}

/*---seccion contacto----*/

.section-contacto{
    background-color: #6266a0;
}

.contacto{
    background-color: #A6B1E1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    color: #f1f1f1;
    font-weight: bold;
}

.contacto div{
    padding-bottom: 20px;
}

.section-contacto h1{
    text-align: center;
    color: #eaedff;
    padding-top: 120px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

@media screen and (max-width:550px){
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .section-contacto h1{
        font-size: 30px;
        padding-top: 80px;
        margin-bottom: 0px;
    }
}

.contacto iframe{
    border-radius: 15px;
    padding: 10px;
}

/*---seccion nosotros---*/

.section-nosotros{
    background-color: #6266a0;
}

.nosotros{
    background-color: #A6B1E1;
    color: #e6e0fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px 20px 50px;
    font-weight: bold;
    text-align: justify;
}


.section-nosotros h1{
    font-size: 35px;
    padding-top: 40px;
    color: #f1f1f1;
    font-weight: bold;
    text-align: center;

}

.section-nosotros img{
    width: 250px;
    border-radius: 20px;
}

/*---seccion productos---*/

.section-productos{
    background-color: #6266a0;
}

.grid-productos{
    background-color: #A6B1E1;
    display: grid;
}

.section-productos h1{
    font-size: 35px;
    padding-top: 40px;
    color: #f1f1f1;
    font-weight: bold;
    text-align: center;
}



/*---seccion manga y anime---*/

.grid-container{
    background-color: #89e9fa;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-container > div{
    background-color: #6266a0;
    border: 5px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}